body {
    background-color: antiquewhite; 
    font-family: "Bruno Ace SC";
    
    
}
.header {
    padding: 60px 30px 40px 30px;
    width: 50%;
    height: fit-content;
    margin: auto;
    

}

div .header-content  {
    height:700px;
    
    
    
    
    
}
.header-content p {
    position: relative;
    height: fit-content;
    width:fit-content;
    padding: 10px 10px;
    bottom: 300px;
    margin-left: 40px;
    background-color: green;
    color: azure;
}



div .picture {
    max-width: 500px;
    position: relative;
    left: 40%;
    border-radius: 100%;
    padding: 10px 20px;
    background-color: green;

}
.softs li:nth-of-type(odd) {
    color: white;
}


h3.sobre {
    color:azure;
    padding: 15px 30px;
    background-color: ghostwhite;
    border-radius: 10px;
    width: 500px;
    text-align: center;
    background-color: green;
   

}

.softs {
    color: black;
    padding: 15px 30px;
    background-color:green;
    border-radius: 10px;
    max-width: 500px;

}

p#gostos {
    text-align: center;
    padding: 10px 30px;
    background-color: green;
    border-radius: 10px;
    color: azure;
    
}
a.btn {
    padding: 15px 30px;
    background:green;
    border-radius: 4px;
    line-height: 20px;
    color: azure;
    text-decoration: none;
    cursor: pointer;
    min-width: 300px;
    transition: all 1s ease;
    

}
a.btn:hover {
    background-color: blueviolet;
    min-width: 200px;
    transition:all 1s ease;
}
img.mw {
    max-width: 150px;
    border-radius: 100%;
    position: relative;
    margin: auto;
}



.sites {
    padding: 10px 30px;
    
}

.tops {
    display: inline-block;
    margin: 9.5%;
    vertical-align: middle;
    position: relative;
    text-align: center;
    max-width: 30%;
}

h1 { color: green;
    text-align: center;
    font-family: "Bruno Ace SC";
    margin-top: 10px;
    font-size: 50px;
    
    
    
}


ul {
    text-align: left;
    
    
    
}

li {
    text-align: left;
   
    line-height: 50px;
}




.list {
    color: azure;
    line-height: 15px;
    
}


h4 {
    text-align: center;
    font-size: large;   
}
