* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Inknut Antiqua, serif;
  background-color: antiquewhite;
}

#form-data {
  display: none;
  width: fit-content;
  flex-direction: column;
  list-style: none;
  margin: auto;
  margin-top: 20px;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 1px 2px 5px black;
}

#form-data li {
  margin-bottom: 15px;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  color: aliceblue;
}

.header input {
  padding: 10px;
  border-radius: 10px;
  max-width: 250px;
  margin-right: 10px;
  border: none;
}

.btn-light {
  color: rgb(50, 167, 145);
}

.btn-light:hover {
  color: rgb(50, 167, 145);
}

.trybewarts-header-logo {
  width: 50px;
}

main h1 {
  font-size: 35px;
  margin-bottom: 35px;
}

header .trybewarts-login {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

.evaluation-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.main-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 70px 0;
}

#trybewarts-forms-logo {
  height: 500px;
}

.nome-completo {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.nome-completo input {
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin: 10px 6px 10px 0;
}

.email-house {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.email-house input {
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-right: 10px;
}

.email-house select {
  width: 43%;
}

.mid-content {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  width: 100%;
  border-top: 1px solid rgba(7, 7, 7, 0.5);
  padding: 20px 0;
  border-bottom: 1px solid rgba(7, 7, 7, 0.5);
}

.mid-content .radio {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.mid-content .radio input {
  margin: 20px 0;
}

.mid-content .content-box {
  display: flex;
  flex-flow: column wrap;
  width: 70%;
  justify-content: flex-start;
  align-items: center;
}

.mid-content .subjects {
  width: 350px;
}

.mid-content .subjects input {
  margin: 20px;
}

#label-content {
  align-self: flex-end;
  width: 400px;
}

.textarea {
  width: 100%;
  position: relative;
}

.label-rate {
  margin-bottom: 20px;
}

#label-rate input {
  margin-right: 10px;
}

.form-control {
  margin: 20px 0;
  border-color: blueviolet;
  height: 150px;
}

#label-infos {
  margin-bottom: 20px;
}

#textarea {
  border: 1px solid darkgreen;
}

span {
  position: absolute;
  color: rgba(1, 95, 1, 0.7);
  right: 20px;
  bottom: 25px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(15, 14, 14);
  color: white;
  text-align: center;
  height: 50px;
}

footer p {
  margin: 0;
}
